*{
    padding: 0;
    margin: 0;
    font-family: "Georgia", Times New Roman, Times, serif;
         
}

header{
    width: auto;
    font-weight: 600;
    height: 120px;
    display: flex;  
    flex-wrap: wrap;
    justify-content:space-around; 
    align-content: center;
    overflow: auto;
    flex-direction: row;
    background: radial-gradient(circle farthest-side at right center, #ffff 0%, #941ac4     100%); 
}

.headerLogo{
    width: 80px;
    height: 80px;
    display: flex;
    
}

a{
    padding: 5px;
    text-decoration: none;
    color: #ffff;
    display: flex;
    justify-content: center;
    align-content: space-around;
    transition: 0.5s
}

a:hover{
    color: #37a1f7;
}

ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: space-between;
}

